.users {
  list-style: none;
  margin: 0;
  padding: 0;
}
 .users li img {
   width: 50%;
   height: 50%;
 }
body {
 background-color: #ccc;
}
a {
  cursor: pointer;
}
.plus-icons {
  font-size: 2em;
}
.table {
      border-radius: 5px;
    width: 70%;
    margin: 0px auto;
    float: none;
    background: white;
}
